body {
  background-color: white;
  background: url("https://t4.ftcdn.net/jpg/06/44/53/11/360_F_644531105_upALNkOxSVWPm5qUwThw75p1Q8Uz0sOW.jpg")
    no-repeat center center fixed;
  background-size: 1100px 1100px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  background-color: #efefef;
  padding: 20px;
  margin: 200px;
  border-radius: 10px;
}

button {
  text-align: center;
}

.recipe-title {
  text-align: center;
  font-weight: 300px;
}

.main-image {
  width: 60%;
  height: auto;
  margin: 20px 0 auto;
  position: relative;
}

.ingredients {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
  padding: 0 auto;
  margin: 40px;
  justify-content: center;
  position: absolute;
  top: 260px;
  right: 260px;
  width: 20%;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}

.ingredients ul {
  padding: 0;
  list-style-type: none;
}

.ingredients li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 0 auto;
}

.method {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  padding: 60px;
}

.method h2 {
  margin-top: 10px;
}

.method p {
  margin: 20px;
}

footer {
  border-top: 1px solid #f5f1fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
    background-size: 100px 100px;
  }

  .recipe-title {
    font-size: 20px;
  }

  .container {
    margin: 10px;
  }

  .ingredients {
    margin: 10px;
    padding: 10px;
    width: 100%;
  }

  .ingredients ul {
    padding-left: 20px;
  }

  .method {
    margin: 10px;
    padding: 10px;
  }
}
